<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Registro de Usuarios</title>
</head>
<body background="https://files.realpython.com/media/Python-Sockets-Tutorial_Watermarked.815ce6c85789.jpg" style="background-repeat: no-repeat; background-size: cover;"">
    <br>
    <br>
    <br>
    <br>
    <div  class="container " style="width: 350px;text-align: center;background-color: #7CD281;">
        <form method="post">
            <br>
            <div class="mx-auto font-weight-bold" style="width: 300px;">
                <h1 style="color: white;">¿Ya tienes una cuenta?</h1>
                <a class="nav-link active" href="{% url 'Login:login' %}">Inicia sesion</a>
                 
            </div>
            {%csrf_token%}
            <br><br>
            {% if obt.username.value %}
            {{ obt.username }}
            {% else %}
                {{ obt.username }}
            {% endif %}
            <br>
            {% if obt.first_name.value %}
                {{ obt.first_name }}
            {% else %}
                {{ obt.first_name }}
            {% endif %}
            <br>
            {% if obt.last_name.value %}
                {{ obt.last_name }}
            {% else %}
                {{ obt.last_name }}
            {% endif %}
            <br>
            {% if obt.password.value %}
                {{ obt.password }}
            {% else %}
                {{ obt.password }}
            {% endif %}
            <br>
            {% if obt.email.value %}
                {{ obt.email }}
            {% else %}
                {{ obt.email }}
            {% endif %}
            <br>
            <button type="submit" class="btn btn-primary">Registrate</button>
            <br>
            <br>
        </form>
        
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>